.footer {
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  background-color: rgb(244, 245, 248);
  border-top: 2px solid rgb(168, 215, 3);

  padding: 10px 0;

  a {
    color: black;

    font-size: 30px;
  }
}

