<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="danger">
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="prod">
      <div class="imagen">
        <img *ngIf="product?.image" src={{product?.image}}>
        <img *ngIf="!product?.image" src="./assets/images/default_image.png">
      </div>

      <div class="info">
        <h1><strong>{{product?.name}}</strong></h1>
        <h3 class="precio">{{product?.price.toFixed(2)}}€</h3>
        <p class="pocoStock" *ngIf="product?.stock < 5 && product?.stock > 0">¡Quedan pocas unidades!</p>
      </div>
    </div>

    <section>
      <h3>Descripción</h3>
      <p class="descripcion">{{product?.description}}</p>
    </section>

    <div class="btn">
      <ion-button color="dark" expand="block" fill="outline" (click)="addCart()"
                  *ngIf="!productCart && product?.stock >= 1">Añadir a la cesta
      </ion-button>
      <ion-button color="dark" expand="block" fill="outline" (click)="goToCart()"
                  *ngIf="productCart && product?.stock >= 1">Producto añadido en la cesta
      </ion-button>
      <ion-button color="danger" expand="block" fill="outline" *ngIf="product?.stock < 1">No disponible
      </ion-button>
    </div>

    <div class="reviews">
      <section>
        <h3>Valoraciones</h3>
        <ion-button color="medium" size="small" expand="block" (click)="setReview(formReview)">Publicar</ion-button>
      </section>

      <ion-textarea color="medium" class="textReview" placeholder="Escribe tu valoración"
                    [(ngModel)]="formReview.comments"></ion-textarea>

      <ion-select class="input" interface="popover" [(ngModel)]="formReview.score" placeholder="0/10">
        <ion-select-option [value]="0">0</ion-select-option>
        <ion-select-option [value]="1">1</ion-select-option>
        <ion-select-option [value]="2">2</ion-select-option>
        <ion-select-option [value]="3">3</ion-select-option>
        <ion-select-option [value]="4">4</ion-select-option>
        <ion-select-option [value]="5">5</ion-select-option>
        <ion-select-option [value]="6">6</ion-select-option>
        <ion-select-option [value]="7">7</ion-select-option>
        <ion-select-option [value]="8">8</ion-select-option>
        <ion-select-option [value]="9">9</ion-select-option>
        <ion-select-option [value]="10">10</ion-select-option>
      </ion-select>

      <ion-list>
        <ion-item *ngFor="let item of reviews" lines="none">
          <ion-label>

            <div>
              <div>
                <p><strong>{{item?.user.name}}</strong></p>
              </div>

              <div>
                <p [class]="item?.state">{{item.score}}
                  <ion-icon name="star-outline"></ion-icon>
                </p>
                <ion-buttons slot="end" *ngIf="user.admin == 1 || user.id == item.user.id">
                  <ion-button (click)="openPopover($event, item)">
                    <ion-icon color="dark" name="ellipsis-horizontal-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
            </div>
            <p class="review ion-text-wrap">{{item.comments}}</p>
            <p class="date">{{item.post_date | date:'dd/MM/yyyy - HH:mm:ss'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <app-empty-list [length]=lengthReview msg="No hay ninguna valoración"></app-empty-list>
    </div>
  </div>
</ion-content>
