<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="danger">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title>{{form.id ? 'Editar familia' : 'Añadir familia'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setFamily(form, form.id)" color="dark">
        {{form.id ? 'Editar' : 'Añadir'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="label" position="stacked">Nombre</ion-label>
    <ion-input max="100" [(ngModel)]="form.name" maxlength="50"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label" position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="form.description"></ion-textarea>
  </ion-item>
</ion-content>
