ion-toolbar {
  ion-title {
    color: rgb(122, 153, 16);
  }
}

ion-content {
  --ion-font-family: 'prueba';

  ion-item {
    margin-top: 15px;

    .label {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 7.5px;
    }
  }
}
